body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#section {
	border: none;
	height: 100%;
	width: 100%;
}

#navigation {
	position: fixed;
	bottom: 5vh;
	left: 5vh;
	right: 5vh;
	width: calc(100vw - calc(10vh + 2.5rem));

	padding: 1rem;
	border: 0.25rem solid black;
	border-radius: 2rem;
	background: white;

	text-align: center;

	opacity: 0;
	transition: opacity 0.4s ease-out;
}

#navigation:hover {
	opacity: 1;
}

.navigation-button {
	padding: 0.1rem;
	border: 0.1rem solid black;
	border-radius: 0.2rem;
	text-decoration: none;
	/* Maybe also make the text color consistent? Dunno; TBD */
}
